In [5]:
import pandas as pd
df = pd.read_csv(r"C:\Users\sanan\Downloads\customer_shopping_behavior.csv")

In [6]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [7]:
df.tail()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [11]:
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [12]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [14]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [15]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [16]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')

In [19]:
df.isnull().sum()

customer_id               0
age                       0
gender                    0
item_purchased            0
category                  0
purchase_amount_(usd)     0
location                  0
size                      0
color                     0
season                    0
review_rating             0
subscription_status       0
shipping_type             0
discount_applied          0
promo_code_used           0
previous_purchases        0
payment_method            0
frequency_of_purchases    0
dtype: int64

In [22]:
df = df.rename(columns = {'purchase_amount_(usd)':'purchase_amount'})

In [23]:
df.isnull().sum()

customer_id               0
age                       0
gender                    0
item_purchased            0
category                  0
purchase_amount           0
location                  0
size                      0
color                     0
season                    0
review_rating             0
subscription_status       0
shipping_type             0
discount_applied          0
promo_code_used           0
previous_purchases        0
payment_method            0
frequency_of_purchases    0
dtype: int64

In [24]:
labels = ['Young Adult', 'Adult', 'Middle-aged', 'Senior']
df['age_group'] = pd.qcut(df['age'], q=4, labels = labels)

In [25]:
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle-aged
1   19  Young Adult
2   50  Middle-aged
3   21  Young Adult
4   45  Middle-aged
5   46  Middle-aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-aged

In [27]:
frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quaterly': 90,
    'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [29]:
df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                     14.0            Fortnightly
1                     14.0            Fortnightly
2                      7.0                 Weekly
3                      7.0                 Weekly
4                    365.0               Annually
5                      7.0                 Weekly
6                      NaN              Quarterly
7                      7.0                 Weekly
8                    365.0               Annually
9                      NaN              Quarterly

In [31]:
df = df.drop('promo_code_used', axis=1)

In [37]:
df = df.drop('purchase_frequency_days', axis=1)

In [34]:
df.isnull().sum()

customer_id               0
age                       0
gender                    0
item_purchased            0
category                  0
purchase_amount           0
location                  0
size                      0
color                     0
season                    0
review_rating             0
subscription_status       0
shipping_type             0
discount_applied          0
previous_purchases        0
payment_method            0
frequency_of_purchases    0
age_group                 0
dtype: int64

In [35]:
frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quaterly': 90,
    'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90,
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [36]:
df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                     14.0            Fortnightly
1                     14.0            Fortnightly
2                      7.0                 Weekly
3                      7.0                 Weekly
4                    365.0               Annually
5                      7.0                 Weekly
6                      NaN              Quarterly
7                      7.0                 Weekly
8                    365.0               Annually
9                      NaN              Quarterly

In [38]:
df.isnull().sum()

customer_id               0
age                       0
gender                    0
item_purchased            0
category                  0
purchase_amount           0
location                  0
size                      0
color                     0
season                    0
review_rating             0
subscription_status       0
shipping_type             0
discount_applied          0
previous_purchases        0
payment_method            0
frequency_of_purchases    0
age_group                 0
dtype: int64

In [39]:
frequency_mapping = {
    'Daily': 1,
    'Weekly': 7,
    'Bi-Weekly': 14,      # every 2 weeks
    'Fortnightly': 14,    # synonym for Bi-Weekly
    'Monthly': 30,
    'Every 2 Months': 60,
    'Quarterly': 90,
    'Every 3 Months': 90, # synonym for Quarterly
    'Semi-Annually': 182,
    'Annually': 365,
    'Yearly': 365
}

# Map text labels to days
df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [40]:
df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [41]:
df.isnull().sum()

customer_id                0
age                        0
gender                     0
item_purchased             0
category                   0
purchase_amount            0
location                   0
size                       0
color                      0
season                     0
review_rating              0
subscription_status        0
shipping_type              0
discount_applied           0
previous_purchases         0
payment_method             0
frequency_of_purchases     0
age_group                  0
purchase_frequency_days    0
dtype: int64

In [42]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [44]:
pip install pymysql sqlalchemy ipython-sql

Requirement already satisfied: pymysql in c:\users\sanan\appdata\local\programs\python\python313\lib\site-packages (1.1.2)
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.44-cp313-cp313-win_amd64.whl.metadata (9.8 kB)
Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.2.4-cp313-cp313-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sanan\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.15.0)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.16.0-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: ipython in c:\users\sanan\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (9.6.0)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\sanan\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (1.17.0)
Collecting ipython-genutils (from ipython-sql)
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl.metadata (755 bytes)
Requirement already satisfied: colorama in c:\users\sanan\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\sanan\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\users\sanan\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\sanan\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\sanan\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\sanan\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.4.0 in c:\users\sanan\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data in c:\users\sanan\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\sanan\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\sanan\appdata\local\programs\python\python313\lib\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.14)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\sanan\appdata\local\programs\python\python313\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: executing>=1.2.0 in c:\users\sanan\appdata\local\programs\python\python313\lib\site-packages (from stack_data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\sanan\appdata\local\programs\python\python313\lib\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\sanan\appdata\local\programs\python\python313\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Downloading sqlalchemy-2.0.44-cp313-cp313-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.1 MB 1.2 MB/s eta 0:00:02
   -------------- ------------------------- 0.8/2.1 MB 1.3 MB/s eta 0:00:02
   ------------------- -------------------- 1.0/2.1 MB 1.4 MB/s eta 0:00:01
   ----------------------------- ---------- 1.6/2.1 MB 1.5 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 1.5 MB/s  0:00:01
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading greenlet-3.2.4-cp313-cp313-win_amd64.whl (299 kB)
Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Downloading prettytable-3.16.0-py3-none-any.whl (33 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
Installing collected packages: ipython-genutils, sqlparse, prettytable, greenlet, sqlalchemy, ipython-sql

   ---------------------------------------- 0/6 [ipython-genutils]
   ---------------------------------------- 0/6 [ipython-genutils]
   ------ --------------------------------- 1/6 [sqlparse]
   ------ --------------------------------- 1/6 [sqlparse]
   ------ --------------------------------- 1/6 [sqlparse]
   ------ --------------------------------- 1/6 [sqlparse]
   ------ --------------------------------- 1/6 [sqlparse]
   ------------- -------------------------- 2/6 [prettytable]
   -------------------- ------------------- 3/6 [greenlet]
   -------------------- ------------------- 3/6 [greenlet]
   -------------------- ------------------- 3/6 [greenlet]
   -------------------- ------------------- 3/6 [greenlet]
   -------------------- ------------------- 3/6 [greenlet]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   --------------------------------- ------ 5/6 [ipython-sql]
   ---------------------------------------- 6/6 [ipython-sql]

Successfully installed greenlet-3.2.4 ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.16.0 sqlalchemy-2.0.44 sqlparse-0.5.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: C:\Users\sanan\AppData\Local\Programs\Python\Python313\python.exe -m pip install --upgrade pip

In [45]:
import mysql.connector as connection

ModuleNotFoundError: No module named 'mysql'

In [46]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl.metadata (7.7 kB)
Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.5 MB 285.2 kB/s eta 0:00:57
   - -------------------------------------- 0.5/16.5 MB 285.2 kB/s eta 0:00:57
   - -------------------------------------- 0.5/16.5 MB 285.2 kB/s eta 0:00:57
   - -------------------------------------- 0.5/16.5 MB 285.2 kB/s eta 0:00:57
   - -------------------------------------- 0.5/16.5 MB 285.2 kB/s eta 0:00:57
   - -------------------------------------- 0.5/16.5 MB 285.2 kB/s eta 0:00:57
   - -------------------------------------- 0.5/16.5 MB 285.2 kB/s eta 0:00:57
   - -------------------------------------- 0.8/16.5 MB 217.0 kB/s eta 0:01:13
   - -------------------------------------- 0.8/16.5 MB 217.0 kB/s eta 0:01:13
   - -------------------------------------- 0.8/16.5 MB 217.0 kB/s eta 0:01:13
   - -------------------------------------- 0.8/16.5 MB 217.0 kB/s eta 0:01:13
   - -------------------------------------- 0.8/16.5 MB 217.0 kB/s eta 0:01:13
   - -------------------------------------- 0.8/16.5 MB 217.0 kB/s eta 0:01:13
   - -------------------------------------- 0.8/16.5 MB 217.0 kB/s eta 0:01:13
   - -------------------------------------- 0.8/16.5 MB 217.0 kB/s eta 0:01:13
   - -------------------------------------- 0.8/16.5 MB 217.0 kB/s eta 0:01:13
   -- ------------------------------------- 1.0/16.5 MB 178.3 kB/s eta 0:01:27
   -- ------------------------------------- 1.0/16.5 MB 178.3 kB/s eta 0:01:27
   -- ------------------------------------- 1.0/16.5 MB 178.3 kB/s eta 0:01:27
   -- ------------------------------------- 1.0/16.5 MB 178.3 kB/s eta 0:01:27
   -- ------------------------------------- 1.0/16.5 MB 178.3 kB/s eta 0:01:27
   -- ------------------------------------- 1.0/16.5 MB 178.3 kB/s eta 0:01:27
   -- ------------------------------------- 1.0/16.5 MB 178.3 kB/s eta 0:01:27
   -- ------------------------------------- 1.0/16.5 MB 178.3 kB/s eta 0:01:27
   --- ------------------------------------ 1.3/16.5 MB 173.0 kB/s eta 0:01:28
   --- ------------------------------------ 1.3/16.5 MB 173.0 kB/s eta 0:01:28
   --- ------------------------------------ 1.3/16.5 MB 173.0 kB/s eta 0:01:28
   --- ------------------------------------ 1.3/16.5 MB 173.0 kB/s eta 0:01:28
   --- ------------------------------------ 1.3/16.5 MB 173.0 kB/s eta 0:01:28
   --- ------------------------------------ 1.3/16.5 MB 173.0 kB/s eta 0:01:28
   --- ------------------------------------ 1.6/16.5 MB 180.1 kB/s eta 0:01:23
   --- ------------------------------------ 1.6/16.5 MB 180.1 kB/s eta 0:01:23
   --- ------------------------------------ 1.6/16.5 MB 180.1 kB/s eta 0:01:23
   --- ------------------------------------ 1.6/16.5 MB 180.1 kB/s eta 0:01:23
   ---- ----------------------------------- 1.8/16.5 MB 190.6 kB/s eta 0:01:18
   ---- ----------------------------------- 1.8/16.5 MB 190.6 kB/s eta 0:01:18
   ----- ---------------------------------- 2.1/16.5 MB 211.0 kB/s eta 0:01:09
   ----- ---------------------------------- 2.1/16.5 MB 211.0 kB/s eta 0:01:09
   ----- ---------------------------------- 2.4/16.5 MB 231.4 kB/s eta 0:01:02
   ----- ---------------------------------- 2.4/16.5 MB 231.4 kB/s eta 0:01:02
   ------ --------------------------------- 2.6/16.5 MB 251.2 kB/s eta 0:00:56
   ------ --------------------------------- 2.9/16.5 MB 269.8 kB/s eta 0:00:51
   ------ --------------------------------- 2.9/16.5 MB 269.8 kB/s eta 0:00:51
   ------- -------------------------------- 3.1/16.5 MB 287.3 kB/s eta 0:00:47
   -------- ------------------------------- 3.4/16.5 MB 305.1 kB/s eta 0:00:43
   -------- ------------------------------- 3.7/16.5 MB 323.4 kB/s eta 0:00:40
   --------- ------------------------------ 3.9/16.5 MB 342.1 kB/s eta 0:00:37
   ---------- ----------------------------- 4.2/16.5 MB 360.4 kB/s eta 0:00:35
   ---------- ----------------------------- 4.2/16.5 MB 360.4 kB/s eta 0:00:35
   ----------- ---------------------------- 4.7/16.5 MB 390.0 kB/s eta 0:00:31
   ------------ --------------------------- 5.0/16.5 MB 407.4 kB/s eta 0:00:29
   ------------- -------------------------- 5.5/16.5 MB 442.5 kB/s eta 0:00:25
   ------------- -------------------------- 5.8/16.5 MB 459.4 kB/s eta 0:00:24
   --------------- ------------------------ 6.3/16.5 MB 492.6 kB/s eta 0:00:21
   --------------- ------------------------ 6.6/16.5 MB 508.0 kB/s eta 0:00:20
   ---------------- ----------------------- 6.8/16.5 MB 522.5 kB/s eta 0:00:19
   ----------------- ---------------------- 7.1/16.5 MB 531.8 kB/s eta 0:00:18
   ----------------- ---------------------- 7.3/16.5 MB 546.0 kB/s eta 0:00:17
   ------------------- -------------------- 7.9/16.5 MB 572.8 kB/s eta 0:00:16
   ------------------- -------------------- 8.1/16.5 MB 586.1 kB/s eta 0:00:15
   -------------------- ------------------- 8.4/16.5 MB 598.4 kB/s eta 0:00:14
   --------------------- ------------------ 8.9/16.5 MB 622.1 kB/s eta 0:00:13
   ---------------------- ----------------- 9.2/16.5 MB 633.1 kB/s eta 0:00:12
   ---------------------- ----------------- 9.2/16.5 MB 633.1 kB/s eta 0:00:12
   ----------------------- ---------------- 9.7/16.5 MB 654.5 kB/s eta 0:00:11
   ------------------------ --------------- 10.2/16.5 MB 676.3 kB/s eta 0:00:10
   ------------------------- -------------- 10.5/16.5 MB 687.2 kB/s eta 0:00:09
   -------------------------- ------------- 11.0/16.5 MB 709.3 kB/s eta 0:00:08
   --------------------------- ------------ 11.3/16.5 MB 720.0 kB/s eta 0:00:08
   ---------------------------- ----------- 11.8/16.5 MB 741.0 kB/s eta 0:00:07
   ----------------------------- ---------- 12.1/16.5 MB 750.7 kB/s eta 0:00:06
   ----------------------------- ---------- 12.1/16.5 MB 750.7 kB/s eta 0:00:06
   ------------------------------ --------- 12.6/16.5 MB 766.5 kB/s eta 0:00:06
   ------------------------------- -------- 13.1/16.5 MB 783.9 kB/s eta 0:00:05
   -------------------------------- ------- 13.4/16.5 MB 791.6 kB/s eta 0:00:04
   --------------------------------- ------ 13.6/16.5 MB 799.1 kB/s eta 0:00:04
   --------------------------------- ------ 13.9/16.5 MB 802.8 kB/s eta 0:00:04
   ---------------------------------- ----- 14.4/16.5 MB 822.8 kB/s eta 0:00:03
   ----------------------------------- ---- 14.7/16.5 MB 832.8 kB/s eta 0:00:03
   ------------------------------------ --- 14.9/16.5 MB 836.0 kB/s eta 0:00:02
   ------------------------------------- -- 15.5/16.5 MB 853.9 kB/s eta 0:00:02
   -------------------------------------- - 15.7/16.5 MB 862.1 kB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 879.3 kB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 880.9 kB/s  0:00:19
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: C:\Users\sanan\AppData\Local\Programs\Python\Python313\python.exe -m pip install --upgrade pip

In [47]:
import mysql.connector as connection

In [49]:
import mysql.connector
import pandas as pd
from getpass import getpass

host = "127.0.0.1"
port = 3306
user = "sanandan"
password = getpass("MySQL password:")   # safer than hard-coding
database = "customer_behaviour"

conn = mysql.connector.connect(
    host=host,
    port=port,
    user=user,
    password=password,
    database=database,
    auth_plugin='mysql_native_password'   # only if needed
)

MySQL password:

ProgrammingError: 1044 (42000): Access denied for user 'sanandan'@'localhost' to database 'customer_behaviour'

In [50]:
import mysql.connector
import pandas as pd
from getpass import getpass

conn = mysql.connector.connect(
    host="127.0.0.1",
    port=3306,
    user="sanandan",
    password=getpass("MySQL password: "),  # will be Sanan@9303
    database="customer_behaviour"
)

print(" Connection successful!")

MySQL password:

 Connection successful!

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus  # <-- to encode password safely

user = "sanandan"
password = quote_plus("Sanan@9303")  #  encodes special characters
host = "127.0.0.1"
port = 3306
database = "customer_behaviour"

# build connection string safely
engine = create_engine(f"mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}")

# Example: load and upload a CSV

df.to_sql("customers", con=engine, index=False, if_exists="replace")

print(" Table 'customers' uploaded successfully!")

NameError: name 'df' is not defined

In [58]:
df = df[["shipping_type"]]